.container {
  position: fixed;
  width: 400px;
  background-color: #9c1c13;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 10;
  top: 0;
  left: 0;

  @media (max-width: 450px) {
    width: 300px;
  }
  @media (max-width: 340px) {
    width: 240px;
  }
}