.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 150px 0;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #8a8a8a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse infinite 0.7s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}


